:root {
    --main-color: rgb(0, 62, 43);
    --sub-color: #c3dad5d4;;
    --background-color: #f8f5e9bb;
    --border-color: rgb(4, 165, 116);
    --border-width: 2px;
}

/*
$main-color: rgb(0, 62, 43);
$sub-color: #c3dad5d4;;
$background-color: #f8f5e9bb;
$border-color: rgb(4, 165, 116);
$border-width: 2px;
*/
