.search-bar {
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 2rem;
    border-bottom: 1px solid rgb(4, 165, 116);
    border-width: 5px;
    background-color: #c3dad5d4;
    color: rgb(0, 77, 54);
}

input {
    width: 100%; 
    padding: 0.5rem;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}