.sidebar {
    background-color: rgb(0, 62, 43); 
    padding-bottom: 3rem;
    padding-left: 0.5rem;
    padding-right: 2rem;

    h1 {
      color: rgb(0, 62, 43); 
      text-align: center; 
      font-weight: bold;   
      margin-top: 1rem;   
    }

}

ul.dropdown {

  li {
    width: 125px;          /* メニュー項目の横幅(125px) */
    display: inline-block; /* ★横並びに配置する */
    list-style-type: none; /* ★リストの先頭記号を消す */
    position: relative;
  }

  a {
    background-color: rgb(0, 62, 43); 
    color: white;              
    line-height: 40px;         
    text-decoration: none;     
    font-weight: bold;         
    border-radius: 5px;
    padding: 0.5rem;
  }

  ul {
    background-color: rgb(80, 145, 125); 
    margin: 0px;        
    padding: 0px;       
    display: none;      
    position: relative; 
    border-color: rgb(138, 147, 144);

    a {
      background-color: rgb(80, 145, 125); 
    }
  }

  a:hover{
    background-color: rgb(132, 192, 174); /* メニュー項目の背景色(濃い赤色) */
    color: white;              /* メニュー項目の文字色(白色) */
    line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
    text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
    font-weight: bold;         /* 太字にする */
  }

} 